html
  head
    title="BlogChef - Dashboard"
    link(rel='stylesheet' href='/assets/css/style.css')/
  body
    .container
      h1#admin-title BlogChef - Dashboard
      #admin-nav
        h3#user-name= "Welcome, " + user
        a(href="/admin/logout" id="logOutBtn") Logout
      #content
        include partials/postCard.pug